<<<<<<< HEAD
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin: auto;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

h2 {
    margin-top: 20px;
    color: #333;
}

p {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* Outer container */

.container {
    width: 300px;
    background-color: #d1c4f7;
    border-radius: 15px;
    padding: 25px 20px;
    text-align: center;
    margin: 60px auto;
}

.container h2 {
    color: #2f2569;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.box {
    background-color: #fff;
    border-radius: 10px;
    padding: 16px 10px;
    margin-bottom: 18px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}

.box .label {
    font-size: 14px;
    color: #6d6a7d;
    margin-bottom: 6px;
    line-height: 1.3;
}

.box h3 {
    font-size: 22px;
    font-weight: 700;
    color: #000;
}

.box:last-child {
    margin-bottom: 0;
>>>>>>> 79ae8fc (Vertical Box Assignment)
}