body {
    background-color: #f7f6f9;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #d8c7f1;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 18px;
}

.box {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box p {
    color: #666;
    font-size: 13px;
    margin-bottom: 5px;
}

.box h3 {
    color: #000;
    margin: 0;
}