body {
    font-family: Arial, sans-serif;
    margin: 0;
}

img {
    image-orientation: from-image;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

{
    box-sizing: border-box;
}


/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.navbar button {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
}


/* TITLE */

.title {
    margin-left: 20px;
}


/* CARD GRID */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
}

.card {
    background: #e53935;
    text-align: center;
    padding: 20px;
    color: white;
}

.card img {
    width: 150px;
    height: 150px;
}

.card button {
    background: white;
    padding: 8px 15px;
    border: none;
    margin-top: 10px;
}


/* EXPLORE */

.explore {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    text-align: center;
}

.explore div button {
    background: red;
    color: white;
    border: none;
    padding: 6px 12px;
}


/* BOTTOM SECTION */

.bottom {
    display: flex;
    justify-content: space-between;
    background: #e6ddf6;
    padding: 40px;
    align-items: center;
}

.bottom img {
    width: 250px;
}

.buttons img {
    width: 140px;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .explore {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .bottom {
        flex-direction: column;
        text-align: center;
    }
}